wsdl/outbound/iss-dev/sendStatusUpdates.wsdl

<wsdl:definitions targetNamespace="http://www.cognitomobile.com/services/Iface/Engine/MobDataEngPushItf" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.cognitomobile.com/schemas/Iface/MobDataEngPushItf/InterfaceIO.xsd" xmlns:msg="http://www.cognitomobile.com/schemas/Common/Mobile/Msg.xsd" xmlns:s2="http://www.cognitomobile.com/schemas/Common/Errors.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.cognitomobile.com/services/Iface/Engine/MobDataEngPushItf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cognitomobile.com/schemas/Iface/MobDataEngPushItf/InterfaceIO.xsd">
      <s:import namespace="http://www.cognitomobile.com/schemas/Common/Mobile/Msg.xsd"/>
      <s:import namespace="http://www.cognitomobile.com/schemas/Common/Errors.xsd"/>
      <s:element name="ReceiveMobDataParams">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Grouping">
              <s:complexType>
                <s:sequence>
                  <s:element maxOccurs="1" minOccurs="0" name="GroupingID" type="s:string"/>
                  <s:element maxOccurs="1" minOccurs="0" name="Order" type="s:int"/>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element maxOccurs="1" minOccurs="0" ref="Msg"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveMobDataReturn">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Details" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Exception">
              <s:complexType>
                <s:sequence>
                  <s:choice maxOccurs="1" minOccurs="1">
                    <s:element maxOccurs="1" minOccurs="0" ref="s2:CogErrResourceUnavailable"/>
                    <s:element maxOccurs="1" minOccurs="0" ref="s2:CogErrUnexpected"/>
                  </s:choice>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveMobDataStatusParams">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Grouping">
              <s:complexType>
                <s:sequence>
                  <s:element maxOccurs="1" minOccurs="0" name="GroupingID" type="s:string"/>
                  <s:element maxOccurs="1" minOccurs="1" name="ActionType" type="s:int"/>
                  <s:element maxOccurs="1" minOccurs="0" name="Order" type="s:int"/>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element maxOccurs="1" minOccurs="0" ref="msg:Status"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveMobDataStatusReturn">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Details" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Exception">
              <s:complexType>
                <s:sequence>
                  <s:choice maxOccurs="1" minOccurs="1">
                    <s:element maxOccurs="1" minOccurs="0" ref="s2:CogErrResourceUnavailable"/>
                    <s:element maxOccurs="1" minOccurs="0" ref="s2:CogErrUnexpected"/>
                  </s:choice>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="receiveAuthParams">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Email" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveAuthReturn">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="Authorised" type="s:boolean"/>
            <s:element maxOccurs="1" minOccurs="0" name="pwExpiry" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="LaborCode" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="Message" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema>
      <s:element name="Msg">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Head">
              <s:complexType>
                <s:sequence>
                  <s:element maxOccurs="1" minOccurs="0" name="ID" type="s:string"/>
                  <s:element maxOccurs="1" minOccurs="0" name="Times">
                    <s:complexType>
                      <s:sequence>
                        <s:element maxOccurs="1" minOccurs="1" name="Sent" type="s:dateTime"/>
                        <s:element maxOccurs="1" minOccurs="0" name="Networked" type="s:dateTime"/>
                        <s:element maxOccurs="unbounded" minOccurs="0" name="Trace">
                          <s:complexType>
                            <s:sequence>
                              <s:element maxOccurs="1" minOccurs="1" name="SvcId" type="s:unsignedInt"/>
                              <s:element maxOccurs="1" minOccurs="1" name="Recv" type="s:dateTime"/>
                              <s:element maxOccurs="1" minOccurs="0" name="Fwd" type="s:dateTime"/>
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <s:element maxOccurs="1" minOccurs="0" name="From">
                    <s:complexType>
                      <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="UA" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="User" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="Custom">
                          <s:complexType>
                            <s:sequence>
                              <s:any/>
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Env">
              <s:complexType>
                <s:sequence>
                  <s:element maxOccurs="1" minOccurs="0" name="To">
                    <s:complexType>
                      <s:sequence>
                        <s:choice maxOccurs="1" minOccurs="1">
                          <s:element maxOccurs="1" minOccurs="0" name="User" type="s:string"/>
                          <s:element maxOccurs="1" minOccurs="0" name="Custom">
                            <s:complexType>
                              <s:sequence>
                                <s:any/>
                              </s:sequence>
                            </s:complexType>
                          </s:element>
                          <s:element maxOccurs="1" minOccurs="0" name="UA" type="s:string"/>
                        </s:choice>
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <s:element maxOccurs="1" minOccurs="0" name="Content">
                    <s:complexType>
                      <s:sequence>
                        <s:any/>
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
          <s:attribute name="version" type="s:string"/>
        </s:complexType>
      </s:element>
      <s:element name="Status">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Head">
              <s:complexType>
                <s:sequence>
                  <s:element maxOccurs="1" minOccurs="0" name="ID" type="s:string"/>
                  <s:element maxOccurs="1" minOccurs="0" name="Times">
                    <s:complexType>
                      <s:sequence>
                        <s:element maxOccurs="1" minOccurs="1" name="Sent" type="s:dateTime"/>
                        <s:element maxOccurs="1" minOccurs="0" name="Networked" type="s:dateTime"/>
                        <s:element maxOccurs="unbounded" minOccurs="0" name="Trace">
                          <s:complexType>
                            <s:sequence>
                              <s:element maxOccurs="1" minOccurs="1" name="SvcId" type="s:unsignedInt"/>
                              <s:element maxOccurs="1" minOccurs="1" name="Recv" type="s:dateTime"/>
                              <s:element maxOccurs="1" minOccurs="0" name="Fwd" type="s:dateTime"/>
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <s:element maxOccurs="1" minOccurs="0" name="From">
                    <s:complexType>
                      <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="UA" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="User" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="Custom">
                          <s:complexType>
                            <s:sequence>
                              <s:any/>
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element maxOccurs="1" minOccurs="0" name="StatusContent">
              <s:complexType>
                <s:sequence>
                  <s:element maxOccurs="1" minOccurs="0" name="StatusCode" type="s:string"/>
                  <s:element maxOccurs="1" minOccurs="0" name="StatusString" type="s:string"/>
                  <s:element maxOccurs="1" minOccurs="0" name="ReasonCode" type="s:string"/>
                  <s:element maxOccurs="1" minOccurs="0" name="ReasonString" type="s:string"/>
                  <s:element maxOccurs="1" minOccurs="0" name="ErrLineNum" type="s:unsignedInt"/>
                  <s:element maxOccurs="1" minOccurs="0" name="ErrDataStr" type="s:string"/>
                  <s:element maxOccurs="1" minOccurs="0" name="ErrCode" type="s:unsignedInt"/>
                  <s:element maxOccurs="1" minOccurs="0" name="SvcId" type="s:unsignedInt"/>
                  <s:element maxOccurs="1" minOccurs="0" name="InterfaceId" type="s:unsignedInt"/>
                  <s:element maxOccurs="1" minOccurs="0" name="Extra">
                    <s:complexType>
                      <s:sequence>
                        <s:any/>
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                </s:sequence>
                <s:attribute name="version" type="s:string"/>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cognitomobile.com/schemas/Common/Errors.xsd">
      <s:element name="CogErrResourceUnavailable">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ErrInfo">
              <s:complexType>
                <s:sequence>
                  <s:element maxOccurs="1" minOccurs="1" name="TimeDateOccurred" type="s:dateTime"/>
                  <s:element maxOccurs="1" minOccurs="1" name="SuggRetryBaseSecs" type="s:unsignedInt"/>
                  <s:element maxOccurs="1" minOccurs="1" name="SuggRetryRandSecs" type="s:unsignedInt"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CogErrUnexpected">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ErrInfo">
              <s:complexType>
                <s:sequence>
                  <s:element maxOccurs="1" minOccurs="1" name="TimeDateOccurred" type="s:dateTime"/>
                  <s:element maxOccurs="1" minOccurs="1" name="SuggRetryBaseSecs" type="s:unsignedInt"/>
                  <s:element maxOccurs="1" minOccurs="1" name="SuggRetryRandSecs" type="s:unsignedInt"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveMobDataParams">
    <wsdl:part element="s0:ReceiveMobDataParams" name="receiveMobDataParams"/>
  </wsdl:message>
  <wsdl:message name="ReceiveMobDataOpSoapOut">
    <wsdl:part element="s0:ReceiveMobDataReturn" name="ReceiveMobDataOpResult"/>
  </wsdl:message>
  <wsdl:message name="ReceiveMobDataStatusOpSoapIn">
    <wsdl:part element="s0:ReceiveMobDataStatusParams" name="receiveMobDataStatusParams"/>
  </wsdl:message>
  <wsdl:message name="ReceiveMobDataStatusOpSoapOut">
    <wsdl:part element="s0:ReceiveMobDataStatusReturn" name="ReceiveMobDataStatusOpResult"/>
  </wsdl:message>
  <wsdl:message name="ReceiveAuthoriseSoapIn">
    <wsdl:part element="s0:receiveAuthParams" name="receiveAuthParams"/>
  </wsdl:message>
  <wsdl:message name="ReceiveAuthoriseSoapOut">
    <wsdl:part element="s0:ReceiveAuthReturn" name="ReceiveAuthoriseResult"/>
  </wsdl:message>
  <wsdl:portType name="MobDataEngPushItfHTTPBinding">
    <wsdl:operation name="ReceiveMobDataOp">
      <wsdl:input message="tns:ReceiveMobDataParams"/>
      <wsdl:output message="tns:ReceiveMobDataOpSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMobDataStatusOp">
      <wsdl:input message="tns:ReceiveMobDataStatusOpSoapIn"/>
      <wsdl:output message="tns:ReceiveMobDataStatusOpSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ReceiveAuthorise">
      <wsdl:input message="tns:ReceiveAuthoriseSoapIn"/>
      <wsdl:output message="tns:ReceiveAuthoriseSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MobDataEngPushItfHTTPBinding" type="tns:MobDataEngPushItfHTTPBinding">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ReceiveMobDataOp">
      <soap:operation soapAction="/Cog/Svcs/Itfs/MobDataEngSvc/Soap/ReceiveMobDataOp" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMobDataStatusOp">
      <soap:operation soapAction="/Cog/Svcs/Itfs/MobDataEngSvc/Soap/Cog/MobDataEndPushItf/ReceiveMobDataStatusOp" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveAuthorise">
      <soap:operation soapAction="/Cog/Svcs/Itfs/MobDataEngSvc/Soap/ReceiveMobDataOp" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MobDataEngPushItfHTTPBinding1" type="tns:MobDataEngPushItfHTTPBinding">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ReceiveMobDataOp">
      <soap12:operation soapAction="/Cog/Svcs/Itfs/MobDataEngSvc/Soap/ReceiveMobDataOp" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMobDataStatusOp">
      <soap12:operation soapAction="/Cog/Svcs/Itfs/MobDataEngSvc/Soap/Cog/MobDataEndPushItf/ReceiveMobDataStatusOp" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveAuthorise">
      <soap12:operation soapAction="/Cog/Svcs/Itfs/MobDataEngSvc/Soap/ReceiveMobDataOp" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MobDataEngPushItf">
    <wsdl:port binding="tns:MobDataEngPushItfHTTPBinding" name="MobDataEngPushItfHTTPBinding">
      <soap:address location="https://gmptest.uk.issworld.com:3433/CogMobDataEngPushItf.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:MobDataEngPushItfHTTPBinding1" name="MobDataEngPushItfHTTPBinding1">
      <soap12:address location="https://gmptest.uk.issworld.com:3433/CogMobDataEngPushItf.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>